/* Global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #faf7f5;
  color: #4b5563;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}